:root {
    --purple: blueviolet;
    --lavender: rgb(201, 125, 201);
  }

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1%;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 38px;
}

p {
    font-size: 20px;
}

button {
    background-color: var(--purple);
    color: white;
    font-size: 18px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
    border-radius: 10px;
    border: transparent;
}

button:hover {
    background-color: var(--lavender);
    cursor: pointer;
}

button.high-score {
    color: blueviolet;
    font-weight: bold;
    font-size: 20px;
    display: block;
    float: left;
    background-color: white;
    padding: 0%;
} 

button.high-score:hover {
    background-color: white;
    color: var(--lavender);
}

button.prompt-choice {
    font-size: 26px;
}

button:hover {
    background-color: var(--lavender);
    cursor: pointer;
}

ul {
    list-style-type: none;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    font-size: 24px;
}

label {
    font-size: 20px;
}


.time {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    display: block;
    float: right;
}

.container {
    display: flex;
    text-align: center;
    height: 60vh;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-left: 3%;
    padding-right: 3%;
  }